:root{
    --main-background: #F3E7DC;
    --div-background: #EBF5FE;
    --div-border: #9FA9B2;
    --comments: #FFFFFF;
}

body {
    background-image: url(/images/coquette_seamless_pattern.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.main{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 90%;
    border-radius: 5%;
}

.name, .top, .middle, .bottom{
    background-color: var(--div-background);
    border-radius: 5%;
    border: 1px solid var(--div-border);
}

.name{
    width: 75%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.profile-image{
    margin-left: 2%;
    margin-top: 0.7%;
    margin-bottom: 2%;
    background-color: azure;
    width: 15%;
}

.contain{
    width: 100%;
    object-fit: contain;
    border-radius: 20%;
}

.profile-text{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
}

.profile-text p{
    margin-left: 25%;
    margin-top: 5%;
    font-size: 200%;
}

.top {
    width: 85%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.navigation{
    width: 25%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    border-right-style: solid;

}

.navigation-button{
    margin-right: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 15%;
}

.welcome{
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 2%;
    text-align: center;
}

.middle {
    width: 75%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.update{
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.update-banner{
    text-align: center;
    margin-top: 2%;
    font-size: 120%;
}

.update-list{
    font-size: medium;
}

.comment{
    width: 40%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    border-left-style: solid;
}

.bottom {
    width: 85%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
